PRESERVE_STRUCTURE=True
MAX_CHUNK_SIZE=2000
MAX_RETRIES=4
SYSTEM_PROMPT="我需要一名专业的英语翻译职业人。擅长对长难句进行严谨的结构分析，简明扼要地翻译出通顺的中文长句，还可以利用名词表中的专有术语对英文原文进行正确的翻译。任务备注：你接收的原文是通过github风格的markdown格式编写的，原文中可能包含图片链接、列表、标题等特殊元素。在翻译时，需要注意保持原文的结构和格式，同时注意专有术语的翻译。"
BASE_PROMPT="翻译要求：找出**所有可能是**专有术语的单词/词组/短语，例如虚构的名词，地点，组织名字与人名等等，将提供给你的专有术语的正确译名准确地使用到译文中。如果被找出的专有术语在指令中没有提供对应翻译，你需要在名词后通过括号备注，来保留专有术语的英文并说明你给出的译名的理由，以方便编辑老师查看。格式要求：你只需要输出译文，并在译文中插入那些没有对应翻译的专有术语的理由解释。"

########################
# LLM Providers
########################
KIMI_BASE_URL=https://api.moonshot.cn/v1
KIMI_API_KEY=YOUR_KIMI_API_KEY
KIMI_MODEL=kimi-k2-turbo-preview

OPENAI_API_KEY=YOUR_OPENAI_API_KEY
GPT_MODEL=gpt-4o

DEEPSEEK_BASE_URL=https://api.deepseek.com/v1
DEEPSEEK_API_KEY=YOUR_DEEPSEEK_API_KEY
DEEPSEEK_MODEL=deepseek-chat

SILLION_BASE_URL=https://api.siliconflow.cn/v1/chat/completions
SILLION_API_KEY=YOUR_SILLION_API_KEY
SILLION_MODEL=deepseek-ai/DeepSeek-V3.1-Terminus

GEMINI_API_KEY=YOUR_GEMINI_API_KEY
GEMINI_MODEL=gemini-2.5-flash

DOUBAO_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
DOUBAO_API_KEY=YOUR_DOUBAO_API_KEY
DOUBAO_MODEL=doubao-seed-1-6-251015

########################
# Local Models (Ollama)
########################
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=your-model-name